header{
    background-color: rgb(1, 13, 80);
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
header p{
    font-weight: 900;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}